*.iso
mac_hdd.img
mac_hdd_ng.img
*.sha256sum
*.sucatalog
*.img
*.dmg
*.dist
*.smd
*.dmg
OVMF_VARS-1024x768.fd
OVMF_VARS*.fd
OpenCore-Catalina/EFI/OC/Resources/
*.log
BaseSystem/System/Library/CoreServices/CoreGlyphs.bundle/Contents/Resources/Assets.car
BaseSystem/System/Library/KernelCollections/BootKernelExtensions.kc
BaseSystem/System/Library/Frameworks/WebKit.framework/Versions/A/Frameworks/WebCore.framework/Versions/A/WebCore