<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>4</string>
	<key>CFBundleShortVersionString</key>
	<string>14.1.2</string>
	<key>CFBundleVersion</key>
	<string>16611.3.10.1.6</string>
	<key>ProjectName</key>
	<string>WebBrowser</string>
	<key>SourceVersion</key>
	<string>7611003010001006</string>
</dict>
</plist>
